{% extends "header.html" %}
{% block real_content %}
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

  <br><h1 align="center">Register</h1><br><br><br>
  <div class="container">
    <form method="post" action="register_saved">
      <div class="form-group row">
        <label for="namef" class="col-sm-2 col-form-label">Name</label>
        <div class="col" id="namef">
          <input type="text" name="namef" class="form-control" placeholder="First name">
        </div>
        <!-- <div class="col"> -->
          <!-- <input type="text" name="namel" class="form-control" placeholder="Last name"> -->
        <!-- </div> -->
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" name="email" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <label for="addrf" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
          <input class="form-control" name="addrf" rows="2" placeholder="address"/>
        </div>
      </div>
      <!-- <div class="form-group row">
        <label for="dob" class="col-sm-2 col-form-label">Date of Birth</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="dob" name="bday">
        </div>
      </div> -->
      <div class="form-group row">
        <label for="passwd" class="col-sm-2 col-form-label">Create new Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" name="passwd" placeholder="New Password">
        </div>
      </div>
      <div class="form-group row">
        <label for="phnno" class="col-sm-2 col-form-label">Phone Number</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="phnno" placeholder="Phone number">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-dark">Sign in</button>
        </div>
      </div>
    </form>
</div>
</body>
</html>
{% endblock %}
